spring:
  jpa:
    show-sql: false

logging:
  level:
    root: WARN
    com.mobilebanking.auth: INFO
    org.springframework.security: WARN

management:
  endpoint:
    health:
      show-details: never
