replicaCount: 1

image:
  tag: "dev"

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

autoscaling:
  enabled: false

env:
  - name: SPRING_PROFILES_ACTIVE
    value: "dev"
  - name: SERVER_PORT
    value: "8081"

configMap:
  data:
    DB_HOST: "postgres-auth-dev"
    DB_PORT: "5432"
    DB_NAME: "auth_db_dev"

networkPolicy:
  enabled: false

podDisruptionBudget:
  enabled: false

livenessProbe:
  initialDelaySeconds: 30

readinessProbe:
  initialDelaySeconds: 15
